{% load static %}
<header class="header">
                <div class="logo-container">
                    <a href="dashboard.php" class="logo">
                        <img src="{% static 'admin/assets/images/logo3.png' %}" height="35" alt="JSOFT Admin" />
                    </a>
                    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <!-- start: search & user box -->
                <div class="header-right">

                    <div id="userbox" class="userbox">
                        <a href="#" data-toggle="dropdown">
                            <figure class="profile-picture">
                                <img src="{% static 'admin/assets/images/member.png' %}" alt="Admin" class="img-circle" data-lock-picture="assets/images/member.png" />
                            </figure>
                            <div class="profile-info" data-lock-name="John Doe" data-lock-email="abc@gmail.com">

                                <span class="name">{{request.user.username}}</span>
                                <span class="role">{{request.user.email}}</span>

                            </div>

                            <i class="fa custom-caret"></i>
                        </a>

                        <div class="dropdown-menu">
                            <ul class="list-unstyled">
                                <li class="divider"></li>

                                <li>
                                    <a role="menuitem" tabindex="-1" href="{% url 'change_passwordadmin' %}"><i class="fa fa-user"></i>Change Password</a>
                                </li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end: search & user box -->
            </header>