{% load static %}
{% block body %}
<html class="fixed">
	<head>

		<title>TRAFFIC AND ROAD SAFETY Management System | NEW Complaint</title>

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'user/assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'user/assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'user/assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'user/assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'user/assets/vendor/select2/select2.css' %}" />
		<link rel="stylesheet" href="{% static 'user/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'user/assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'user/assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'user/assets/stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'user/assets/vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			 {% include 'headeruser.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				 {% include 'sidebaruser.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Charge Sheet</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'user_home' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Charge</span></li>
								<li><span>Sheet</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
						<section class="panel">
							<header class="panel-heading">
								<div class="panel-actions">
									<a href="#" class="fa fa-caret-down"></a>
									<a href="#" class="fa fa-times"></a>
								</div>

								<h2 class="panel-title">View Charge Sheet</h2>
							</header>
							<div class="panel-body">

								 <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                                <thead style="color: red;font-size: 16px">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Complaint No.</th>
                                        <th class="d-none d-sm-table-cell">Name(s)</th>
                                        <th class="d-none d-sm-table-cell">Mobile Number</th>
                                        <th class="d-none d-sm-table-cell">Email</th>
                                        <th class="d-none d-sm-table-cell">Complaint Date</th>
                                        <th class="d-none d-sm-table-cell">Status</th>
                                        <th class="d-none d-sm-table-cell" style="width: 15%;">Action</th>
                                       </tr>
                                </thead>
                                <tbody>
                                   {% for i in fir %}
                                    <tr style="font-size: 15px">
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td class="font-w600">{{i.firno}}</td>
                                        <td class="font-w600">{{i.userid.first_name}}</td>
                                        <td class="font-w600">{{i.userid.last_name}}</td>
                                        <td class="font-w600">{{i.userid.username}}</td>
                                        <td class="font-w600">
                                            <span class="badge badge-primary">{{i.dateoffir}}</span>
                                        </td>
                                        {% if i.status == None %}

                     <td class="font-w600">Not Updated Yet</td>
                                        {% else %}
                                        <td class="d-none d-sm-table-cell">
                                            <span class="badge badge-primary">{{ i.status }}</span>
                                        </td>
                                           {% endif %}
                                         <td class="d-none d-sm-table-cell"><a href="{% url 'chargesheet_details' i.id %}"><i class="fa fa-eye" aria-hidden="true"></i></td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
							</div>
						</section>
					<!-- end: page -->
				</section>
			</div>

		</section>

		<div id="dialog" class="modal-block mfp-hide">
			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">Are you sure?</h2>
				</header>
				<div class="panel-body">
					<div class="modal-wrapper">
						<div class="modal-text">
							<p>Are you sure that you want to delete this row?</p>
						</div>
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-md-12 text-right">
							<button id="dialogConfirm" class="btn btn-primary">Confirm</button>
							<button id="dialogCancel" class="btn btn-default">Cancel</button>
						</div>
					</div>
				</footer>
			</section>
		</div>

		<!-- Vendor -->
		<script src="{% static 'user/assets/vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'user/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'user/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'user/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'user/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'user/assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'user/assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

		<!-- Specific Page Vendor -->
		<script src="{% static 'user/assets/vendor/select2/select2.js' %}"></script>
		<script src="{% static 'user/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
		<script src="{% static 'user/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'user/assets/javascripts/theme.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'user/assets/javascripts/theme.custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'user/assets/javascripts/theme.init.js' %}"></script>

		<!-- Examples -->
		<script src="{% static 'user/assets/javascripts/tables/examples.datatables.editable.js' %}"></script>
	</body>
</html>
{% endblock %}