{% load static %}
<div class="header-top">
    <div class="container">
        <div class="logo">
            <a href="index.php"><img src="{% static 'images/download.jpg' %}" alt=""></a>
        </div>
        <div class="top-nav">
                <span class="menu"><img src="{% static 'images/menu.png' %}" alt="">  </span>
                    <ul >
                        <li ><a href="{% url 'index' %}" > Home </a></li>
                        <li><a href="{% url 'user_login' %}" > Register Complaint</a></li>
                        <li><a href="{% url 'police_login' %}" >Police</a></li>
                        <li><a href="{% url 'admin_login' %}" >Admin</a></li>
                    <div class="clearfix"> </div>
                    </ul>
                    <script>
                        $("span.menu").click(function(){
                            $(".top-nav ul").slideToggle(500, function(){
                            });
                        });
                    </script>
                </div>
<div class="clearfix"></div>
    </div>
</div>