{% load static %}
{% block body %}
<html class="fixed">
	<head>
		<title>Crime Record Management System | View FIR Details</title>

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'admin/assets/vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
		{% include 'adminheader.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				 {% include 'adminsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>FIR Form</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'admin_home' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>View</span></li>
								<li><span>FIR Details</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->

					<div class="row">
						<div class="col-md-12">

                            <table border="1" class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                            	<tr>
<td colspan="6" style="font-size:20px;color:red;text-align: center;">
 FIR Number: {{fir.firno}}</td></tr>
 <tr>
<td colspan="6" style="font-size:18px;color:blue">
 Complainer Details</td></tr>
                                            <tr>
     <th>Name</th>
    <td>{{fir.userid.first_name}}</td>
     <th>Mobile Number</th>
    <td>{{fir.userid.last_name}}</td>
    <th>Email</th>
    <td>{{fir.userid.username}}</td>
  </tr>
  <tr>
    <tr>
<td colspan="6" style="font-size:18px;color:blue">
 FIR Details</td></tr>
    <th>Police Station</th>
    <td>{{fir.policestationid.policestationname}}</td>
    <th>Crime Type</th>
    <td>{{fir.crimetype.catname}}</td>
    <th>Name of Accused</th>
    <td>{{fir.nameaccused}}</td>
  </tr>
   <tr>

     <th>Name of Applicants</th>
    <td>{{fir.nameapplicants}}</td>
    <th>Parentage of Applicant</th>
    <td>{{fir.parentageapplicant}}</td>
     <th>Contact Number</th>
    <td>{{fir.contactno}}</td>
  </tr>
  <tr>

     <th>Address</th>
    <td colspan="2">{{fir.address}}</td>
    <th>Purpose of FIR</th>
    <td colspan="2">{{fir.purposeoffir}}</td>
  </tr>
  <tr>
     <th>Relation with Accused</th>
    <td>{{fir.relationaccused}}</td>
    <th>Purpose of FIR</th>
    <td>{{fir.purposeoffir}}</td>
    <th>Date of FIR</th>
    <td>{{fir.dateoffir}}</td>
  </tr>

  <tr>

     <th>Order Final Status</th>

    <td>

{% if fir.status == "Approved" %}
  Your FIR has been approved
{% endif %}

{% if fir.status == "Cancelled" %}
 Your FIR has been cancelled
{% endif %}


{% if fir.status == None %}
  Not Response Yet
{% endif %}


     </td>
     <th>Police Remark</th>
   {% if fir.status == None %}

                     <td>Not Updated Yet</td>
{% else %}
      <td>{{fir.status}}
                  </td>
                 {% endif %}
                  <th >Police Remark Date</th>
    {% if fir.status == None %}

                     <td>Not Updated Yet</td>
{% else %}
      <td>{{fir.remarkdate}}
                  </td>
                  {% endif %}
  </tr>

</table>

					<!-- end: page -->
				</section>
			</div>

		</section>

		<!-- Vendor -->
		<script src="{% static 'admin/assets/vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

		<!-- Specific Page Vendor -->
		<script src="{% static 'admin/assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'admin/assets/javascripts/theme.js' %}"></script>
		<!-- Theme Custom -->
		<script src="{% static 'admin/assets/javascripts/theme.custom.js' %}"></script>
		<!-- Theme Initialization Files -->
		<script src="{% static 'admin/assets/javascripts/theme.init.js' %}"></script>
		<!-- Examples -->
		<script src="{% static 'admin/assets/javascripts/forms/examples.validation.js' %}"></script>
	</body>
</html>
{% endblock %}